*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.navigation {
    background-image: url(../images/2\ \(1\).jpg);
    background-size: 100%;
    background-repeat: no-repeat;

}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
.logo { 
    font-size: larger;
    width: 13%;
    margin-left: 6%;
    padding: 3%;
    color: white;

}
.nav-link {
    width: 38%;
    display : flex;
    justify-content: space-around;
    align-items: center;
    padding: 3%;
    margin-right: 6%;
    font-size: 15px;
    font-family: Verdana;
}
.menu{
    text-decoration: none;
    list-style: none;
    color: white;
}
.nav{
    color: red;
}
.content {
    height: 89vh;
    padding: 14% 0%;
    margin-left: 8%;
    color: white;
}
.content-name {
    font-size: 70px;
    font-family: Verdana;
}
.content-job {
    font-size: 20px;
    font-family: verdana;
    padding-top: 2%;
}
#About {
    display: flex;
    width: 100%;
    background-color: #fff;
}
.img-about {
    background-size: contain;
    background-repeat: no-repeat;
    margin: 7%;
    padding-top:4%
}
.text-about {
    margin-top: 15%;
}
.text-about h3 {
    font-size: 30px;
    letter-spacing: 5px;
    font-family: verdana;
    color: #000;
}
.span {
    color: rgba(190, 5, 5, 0.825);
}
.text-about p {
    padding: 4% 4% 4% 0%;
    font-family: mulish;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1px;
    font-weight: 500;
    width: 92%;
    color: #767676cb;

}
.list-about{
    font-family: verdana;
    font-weight: 650;
    color: #000;
    font-style: italic;
    list-style: none;
    line-height: 30px;
    font-size: 14px;
    letter-spacing: 1px;
}
.btn-cv {
    background-color: #f24848;
    color: #fff;
    border: 2px solid #e64b4b;
    padding: 2% 6%;
    border-radius: 5px;
    font-family: verdana;
    font-size: 15px;
    margin-top: 4%;
}
#Portfolio {
    width: 100%;
    height: auto;
    background-color: #f9f9f9;
}
.portfolio-text {
    font-family: verdana;
    color: #000;
    font-weight: 700;
    letter-spacing: 5px;
    font-size: 30px;
    margin-top: 4%;
    padding: 9% 8% 5%;
}
.list-portfolio {
    display: flex;
    justify-content: space-around;
    height: auto;
    align-items: center;
    padding: 2% 6% ;
}
