*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.navigation {
    background-image: url(../images/2\ \(1\).jpg);
    background-size: 100%;
    background-repeat: no-repeat;

}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
.logo { 
    font-size: larger;
    width: 13%;
    margin-left: 6%;
    padding: 3%;
    color: white;

}
.nav-link {
    width: 38%;
    display : flex;
    justify-content: space-around;
    align-items: center;
    padding: 3%;
    margin-right: 6%;
    font-size: 15px;
    font-family: Verdana;
}
.menu{
    text-decoration: none;
    list-style: none;
    color: white;
}
.nav{
    color: red;
}
.content {
    height: 89vh;
    padding: 14% 0%;
    margin-left: 8%;
    color: white;
}
.content-name {
    font-size: 70px;
    font-family: Verdana;
}
.content-job {
    font-size: 20px;
    font-family: verdana;
    padding-top: 2%;
}
#About {
    display: flex;
    width: 100%;
    background-color: #fff;
}
.img-about {
    background-size: contain;
    background-repeat: no-repeat;
    margin: 7%;
    padding-top:4%
}
.text-about {
    margin-top: 15%;
}
.text-about h3 {
    font-size: 30px;
    letter-spacing: 5px;
    font-family: verdana;
    color: #000;
}
.span {
    color: rgba(190, 5, 5, 0.825);
}
.text-about p {
    padding: 4% 4% 4% 0%;
    font-family: mulish;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1px;
    font-weight: 500;
    width: 92%;
    color: #767676cb;

}
.list-about{
    font-family: verdana;
    font-weight: 650;
    color: #000;
    font-style: italic;
    list-style: none;
    line-height: 30px;
    font-size: 14px;
    letter-spacing: 1px;
}
.btn-cv {
    background-color: #f24848;
    color: #fff;
    border: 2px solid #e64b4b;
    padding: 2% 6%;
    border-radius: 5px;
    font-family: verdana;
    font-size: 15px;
    margin-top: 4%;
}
#Portfolio {
    width: 100%;
    height: auto;
    background-color: #f9f9f9;
    padding: 5%;
}
.portfolio-text {
    font-family: verdana;
    color: #000;
    font-weight: 700;
    letter-spacing: 5px;
    font-size: 24px;
    padding: 5% 3% 5%;
}
.list-portfolio {
    display: flex;
    justify-content: space-around;
    height: auto;
    align-items: center;
    padding: 2% 2% ;
}
.portfolio-progress {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 5%;
    background-color: #fff;
}
.progress-part {
    padding: 4%;
}
.progress-part h3 {
    font-weight: 600;
    margin-bottom: 4%;
    font-size: 30px;
    color: #000;
    font-family: verdana;
    letter-spacing: 1px;
    width: 98%;
}
.progress-part p {
    font-family: verdana;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 1px;
    font-weight: 400;
    color: #767676;
    width: 97%;
    margin-left: 1%;
}
.label {
    width: 100%;
    text-align: left;
    font-family: Verdana;
    font-weight: 500;
    color: #000;
    font-size: 15px;
    line-height: 50px;
    letter-spacing: 1px;
    padding: 4% 0%;
}
.percent {
    margin-left: 50%;
    color: red;

}
.portfolio-talk_inner {
    background-image: url(../images/images\ \(11\).jpeg);
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    align-items: center;
    padding: 7% 9% 7%;
}
.portfolio-talk_inner h3 {
    font-weight: 600;
    color: #fff;
    font-size: 30px;
    line-height: 1.4;
    font-family: Verdana;
}
.portfolio-talk_inner a {
    color: #fff;
    text-decoration: none;
    font-family: Verdana;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
}
#News {
    width: 100%;
    height: auto;
    background-color: #f9f9f9;
    padding: 7%;
}
.news-title {
    letter-spacing: 8px;
    font-weight: 700;
    font-size: 25px;
    font-family: Verdana;
    color: #000;
    padding: 2% 2% 8%;
}
.news-span {
    color: #e54b4b;
    letter-spacing: 5px;
}
.news-list {
    display: flex;
    width: 100%;
}
.news_list img {
    justify-content: space-between;
    width: 100%;
}
.frst {
    width: 34%;
    padding: 1.7%;
    border-radius: 11px;
}
.snd {
    width: 34.3%;
    padding: 1.7%;
    border-radius: 11px;
}
.thrd {
    width: 34%;
    padding: 1.7%;
    border-radius: 11px;

}
.title {
    width: 90%;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4;font-family: Verdana;
    margin: 1%;
    margin-top: 4%;
}
.date {
    color: #767676;
    font-size: 12px;
    font-family: Verdana;
    line-height: 30px;
    letter-spacing: 1px;
    font-weight: 400;
    margin-top: 2%;
}