*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.navigation {
    background-image: url(../images/2\ \(1\).jpg);
    background-size: 100%;
    background-repeat: no-repeat;

}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
.logo { 
    font-size: larger;
    width: 13%;
    margin-left: 6%;
    padding: 3%;
    color: white;

}
.nav-link {
    width: 38%;
    display : flex;
    justify-content: space-around;
    align-items: center;
    padding: 3%;
    margin-right: 6%;
    font-size: 15px;
    font-family: Verdana;
}
.menu{
    text-decoration: none;
    list-style: none;
    color: white;
}
.nav{
    color: red;
}
.content {
    height: 89vh;
    width: 100;
    padding: 14% 0%;
    margin-left: 8%;
    color: white;
}
.content-name {
    font-size: 70px;
    font-family: Verdana;
}
.content-job {
    font-size: 20px;
    font-family: verdana;
    padding-top: 2%;
}